<!DOCTYPE html>
<html lang="en" style="background-color: brown;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  .display-3{
  position: absolute;
  left:35%;
  top: 1%;
  color:rgb(0, 0, 0);
  font-weight:normal;
  font-size: 200%;
  }
  #myCarousel{
    top: 45%;
  }
  .jumbotron {
    background-image: url("static/Images/bushfire1.jpeg");
    height: 20px
  }
  .navbar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(155, 84, 67);
    }

  .navbar_li {
    float: left;
  }

  .navbar_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar_li a:hover {
    background-color: #111;
  }
  </style>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head> 
<body class="text" style="background-color: brown;">
    <div class="container">
        <div class="jumbotron text-center" src="{{url_for('static', filename='Images/bushfire1.jpeg')}}" style="height: 400x; background-position: center; background-size: cover">
            <h1 class="display-3" style="margin-top: 0px; padding-top: 0px"><b>Bushfires Australia</b></h1>
        </div>
    </div>

    <!-- Nav Bar -->
    <div class="container">
      <ul class="navbar_ul">
        <li class="navbar_li"><a class="active" href="/">Home</a></li>
        <li class="navbar_li"><a href="/health_impact">Health Impact</a></li>
        <li class="navbar_li"><a href="/bushfire_map.html">Bushfire Boundaries</a></li>
        <li class="navbar_li"><a href="/bushfire-env">Environmental Impact - Wildlife</a></li>
        <li class="navbar_li"><a href="/volunteer">Volunteer Statistics</a></li>
      </ul>
    </div>

    <div class="container">
      <br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href= "/bushfire-env">
            <img src="{{url_for('static', filename='Images/Wildlife.jpeg')}}"  alt="Wildlife" width="460" height="300"/>
            </a>
            <div class="carousel-caption">
              <h3>Environmental Impact - Wildlife</h3>
              <p>A look at the threatened species status as a result of the bushfires.</p>
            </div>
          </div>
      
          <div class="item">
            <a href= "/health_impact">
            <img src="{{url_for('static', filename='Images/health.jpeg')}}" alt="Health" width="460" height="300"/>
            </a>
            <div class="carousel-caption">
              <h3>Health Impact</h3>
              <p>A brief overview on impact of bushfire on inhaler sales in FY19-FY20</p>
            </div>
          </div>
      
          <div class="item">
            <a href= "/bushfire_map.html">
              <img src="{{url_for('static', filename='Images/sign.jpeg')}}" alt="Boundaries" width="460" height="300"/>
            </a>
            <div class="carousel-caption">
              <h3>Bushfire Boundaries</h3>
              <p>An overview of bushfire locations across Australia between 2019-2020</p>
            </div>
          </div>
      
          <div class="item">
            <a href= "/volunteer">
            <img src="{{url_for('static', filename='Images/volunteers.jpeg')}}" alt="Volunteers" width="460" height="300"/>
            </a>
            <div class="carousel-caption">
              <h3>Volunteer Statistics</h3>
              <p>A brief view of how many volunteers Australia has that are involved with the bushfires and some stats of the fires they fight</p>
            </div>
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  
</body>
</html>